body{
  font-family: sans-serif;
}
#main{
    display: flex;
    width: 97%;
    margin: auto;
}
#container{
    display: grid;
    margin-left: 30px;
    width: 80%;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
img{
    width: 100%;
}
#sidebar{
    width: 15%;
    display: flex;
    flex-direction: column;
}
h1{
  margin-left: 20px;
}
.name_box{
 color: #376378;
}
.name_box:hover{
  color: #287571;
  text-decoration: underline;    
}
.price_box{
  color: #287571;  
}

#navbar{
  height: 90px;
  width: 100%;
  display: flex;
}
#logo{
  margin-top: 20px;
  height: 50px;
  width: 150px;
  margin-left: 10px;
  cursor: pointer;
}
#search{
  margin-left: 40px;
  margin-top: 20px;
  width: 500px;
  padding-left:  40px;
  height:44px;
  border: 2px solid #ddd;
  cursor: pointer;
  border-radius: 4px 0px 0px 4px;
}
#srch{
  border: none;
  height:44px;
  margin-top: 20px;
  width: 100px;
  font-style: normal;
  font-weight: bolder;
  background-color: #003953;
  color: white;
  border-radius:0px 4px 4px 0px;
  cursor: pointer;

  }
#cart{
  height: 40px;
  width: 150px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid rgb(150, 235, 22);
  margin-left: 350px;
  display: flex;
  cursor: pointer;

}
#cart img{
  height: 100%;
  width: 25%;
  margin-left: 5px;
  border-radius: 5px;
}
#cart p{
  margin-left: 15px;
  font-weight: bolder;
}
#options{
  height: 50px;
  width: 100%;
  background-color:#f4f4f4;
}
#options{
  display: flex;
}
#options a{
  margin-top: 15px;
  text-decoration: none;
  margin-left: 35px;
  color: #003953;
  font-size:larger;
}
#signin{
  border: 0px;
  cursor: pointer;
  margin-left: 450px;
  color: #003953;
  font-size: larger;
}
#sigin:hover{
  border-bottom: 1px solid black;
}

#footer{
  height: 700px;
  width: 100%;
  background-color: #10476a;
  display: flex;
  color: white;
  padding: 5px 5px;

}
#cs,#ez,#fi,#az,.re,#connect{
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 1;
}

#logo{
  display: flex;
}
h3{
  margin-left: 10px;
}
a{
  margin-left: 15px;
  color: white;
  text-decoration: none;
}
#footer div{ 
  width: 100%;
}
#connect button{
  width: 200px;
  height: 50px;
  background-color:#10476a ;
  color: white;
  border: 1px solid white;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}
#connect button:hover{
  background-color: white;
  color: black;
}

#logo>img{
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 10px;
  height: 50px;
  width: 50px;
}

#footer1{
  height: 150px;
  width:100%;
  background-color: #07354a;
  color: white;
  padding: 5px 5px;
}
#footer1 input{
  height: 44px;
  width:200px;
  border-radius: 5px;
  border: none;
}
#footer1 button{
  height: 44px;
  width:250px;
  border-radius: 5px;
  background-color:#003953 ;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
#footer1 button:hover{
  background-color: white;
  color:#003953 ;
}

#bottom{
  height: 100px;
  width: 100%;
  border: 1px solid black;
}