#navbar{
    height: 90px;
    width: 100%;
    display: flex;
}
#logo{
    margin-top: 20px;
    height: 50px;
    width: 150px;
    margin-left: 10px;
    cursor: pointer;
}
#search{
    margin-left: 40px;
    margin-top: 20px;
    width: 500px;
    padding-left:  40px;
    height:44px;
    border: 2px solid #ddd;
    cursor: pointer;
    border-radius: 4px 0px 0px 4px;
}
#srch{
    border: none;
    height:48px;
    margin-top: 20px;
    width: 100px;
    font-style: normal;
    font-weight: bolder;
    background-color: #003953;
    color: white;
    border-radius:0px 4px 4px 0px;
    cursor: pointer;

    }
#cart{

    height: 40px;
    width: 150px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid rgb(150, 235, 22);
    margin-left: 350px;
    display: flex;
    cursor: pointer;

}
#cart img{
    height: 100%;
    width: 25%;
    margin-left: 5px;
    border-radius: 5px;
}
#cart p{
    margin-top: 12px;
    margin-left: 15px;
    font-weight: bolder;
}
#options{
    height: 50px;
    width: 100%;
    background-color:#f4f4f4;
}
#options{
    display: flex;
}
#options a{
    margin-top: 15px;
    text-decoration: none;
    margin-left: 35px;
    color: #003953;
    font-size:larger;
}
#signin{
    border: 0px;
    cursor: pointer;
    margin-left: 450px;
    color: #003953;
    font-size: larger;
}
#sigin:hover{
    border-bottom: 1px solid black;
}